
*{
    box-sizing: border-box;
    
}

.info{
    width:300px ;
    float: left;
    min-width: 400px;
    padding: 30px;
    margin-right: 200px;
    margin-top: 50px;
    font-family: Tahoma, sans-serif;

}
.info h2{
    font-weight: 300;
    color:rgb(2, 2, 36)
}
.info p{
    color: rgba(66, 65, 65, 0.788);
    line-height: 1.5;
}
.info span{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:blueviolet
}
.calc{
    background-color: rgba(34, 34, 34, 0.8);
    width: 230px;
    min-width:230px;
    height:300px;
    padding:10px;
    border-radius: 10px;
    float: left;
    margin:50px auto
}
.calc button{
    background-color: rgba(37, 33, 34, 0.801);
    outline: none;
    border:none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.calc input{
    width: 100%;
    height:50px;
    border-radius: 10px;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    display: block;
    height: 80px;
    outline: none;
    border: none;
    font-size: 24px;
    color:gray;
}
.calc .expression.disabled{
    pointer-events: none;
}
.calc input:focus{
    border: none;
    outline: none;
}
button{
    display: block;
    width: 24%;
    float: left;
    padding: 6px;
    margin: 1px;
    border-radius: 10px;
    margin-top:8px;
}
